<div class = 'row'>
  <% @books.each do |book| %>
    <div class = 'col-md-3 my-auto'>
      <% unless book.thumbnail.nil? %>
        <a href = 'books/<%= book.id %>'>
            <%= image_tag book.thumbnail, class: 'image_thumbnail' %><br>
        </a>
        <h4><br><%= book.amount %></h4>
        <p class = 'small'>
          <% if book.name.length > 16 %>
                <%= book.name.upcase.slice(0..15) + "..." %>
          <% else %>
                <%= book.name.upcase %> 
          <% end %>
        </p>
        
        <br><br>
  
      <% end %>
      
    </div>  
  <% end %>

  <% if @books.empty? %>
    <h3>It seems there are no books in the store! Sign in to add books.</h3>
  <% end %>
</div>
